/* Rewrite this mess */

div.textfield--styled {
  color: #eb54df;
  font-family: "gotham-book";
  padding-bottom: 1rem;
  width: 75%;
}

div.textfield--styled label {
  color: #64d7d6;
  font-family: inherit;
}

div.textfield--styled label.Mui-focused {
  color: #64d7d6;
}

div.textfield--styled .MuiInput-underline:after {
  border-bottom-color: #64d7d6;
}

div.textfield--styled .MuiOutlinedInput-root {
  font-family: "gotham-book";
}

div.textfield--styled .MuiOutlinedInput-root fieldset {
  border-color: #eb54df;
  color: #64d7d6;
}

div.textfield--styled .MuiOutlinedInput-root:hover fieldset {
  border-color: #eb54df;
  border-width: 2px;
}

div.textfield--styled .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: #eb54df;
}

div.textfield--styled .MuiOutlinedInput-root .MuiOutlinedInput-input {
  color: #eb54df;
}

/* const colors=["#64d7d6","#eb54df","#ea3323;"]; */