button.button--styled,
a.button--styled {
  border: 2px solid #64d7d6;
  color: #eb54df;
  font-family: "gotham-book";
  margin: 16px 0;
}

button.button--styled:hover,
a.button--styled:hover {
  border-color: #64d7d6;
}

/* const colors=["#64d7d6","#eb54df","#ea3323;"]; */